/* Layout */

@charset "UTF-8";

.container-layout {
  
  margin: 0 auto;
  padding: 15px;
}

body {
  background-color: white;
  color: black;
  font-family: 'Outfit', sans-serif;
  max-width: 100%;
  margin: 0 auto;
}

main {
  padding: 15px;
}

/* Header */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#title {
  display: flex;
  flex-direction: row;
  line-height: 10px;
  color: white;
}

.header-nav {
  color: white;
  padding-right: 30px;
}

li {
  display: inline-block;
  margin: 20px;
}

h1 {
  font-weight: 200;
}

/* Carrossel */

.container-carrossel {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 40px 15px 00px;
}

#carrossel {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}

#carrossel > aside > h2 {
  font-weight: 700;
  font-size: 56px;
  line-height: 81px;
}

#carrossel > article > img {
  padding-bottom: 5px;
}

h2 {
  font-size: 56px;
  line-height: 10px;
  font-family: 'Outfit', sans-serif;
  font-weight: 700;
}

/* Ongs */

#ongs {
  margin-top: 200px;
  font-size: 10px;
}

#ongs > h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
}

#ongs > figure {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.image-ong {
  padding: 0px 20px;
}

/* Sobre */

#sobre {
  margin-top: 200px;
}

#sobre > h1 {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}

#sobre > h3 {
  margin-top: 0px;
  padding-top: 20px;
}

#sobre > h5 {
  font-weight: 700;
  font-size: 15px;
  text-align: center;
}

#sobre-article {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: center;
}

.container-sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    180deg,
    #888ac9 11.93%,
    rgba(136, 139, 236, 0) 100%
  );
  padding: 20px 20px 0px 20px;
  background: linear-gradient(
    180deg,
    #888ac9 11.93%,
    rgba(136, 139, 236, 0) 100%
  );
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  border-color: #888ac9;
  border-radius: 20px 20px 0px 0px;
  font-weight: 400;
  font-size: 15px;
  margin: 0px 40px;
}

.container-sobre2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #888ac9;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 20px 20px;
  max-width: 300px;
  padding: 0px 10px 30px 10px;
  margin: 0px 40px;
}

.sobre-link {
  font-weight: 300;
  font-size: 14px;
  color: black;
}

/* Contatos */

#contatos {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contatos > #left {
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
  line-height: 17px;
  padding-top: 1px;
  margin-right: 880px;
}

#contatos > #right {
  font-family: 'Outfit', sans-serif;
  position: absolute;
  margin-left: 750px;
  font-size: 16px;
  line-height: 17px;
}

#contatos > #contatos-nav {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
}

.contatos-img {
  padding: 20px;
  margin-bottom: 200px;
}

/* Footer */

footer {
  padding: 150px 0px;
  background-color: #111827;
  color: white;
  font-family: 'Outfit', sans-serif;
  font-weight: 700;
}

/* Componentes */

.texto-cinza {
  color: #898989;
}

.botao-branco {
  background: #ffffff;
  border-radius: 5.5px;
  padding: 12px 30px 12px 30px;
  border-color: #ffffff;
  color: black;
  text-decoration-line: none;
}

.botao-transparente {
  background: transparent;
  border-radius: 5.5px;
  padding: 12px 30px 12px 30px;
  border: 1px solid white;
  color: white;
  text-decoration-line: none;
}

.sobre-home{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  color: white;
}

.footer-text{
  position: absolute;
  top: 94%;
  left: 41%;
  font-size: 15px;
  color: #A8A7A7;
}

.container-login{
  border: 3px solid #ffffff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 240px 700px 0px 700px;
  padding: 50px;
}

.input-cadastro{
  padding: 8px;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white
}

.input-container{
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 2px 70px
}